.skills{
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsContainer{
    width: 60%;
}

.skillsTitle{
    padding: 2vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.technologiesContainer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.icons:hover {
    transition-duration: 0.3s;
    transform: rotate(360deg);
}

.icons{
    width: 50%;
    overflow: hidden;
}

.technologieName{
    font-size: 20px;
}

.divIcons{
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    padding: 2vh;
}

.divTechnologies{
   display: flex;
   text-align: center;
   flex-wrap: wrap;
   justify-content: center;
}

@media (max-width: 700px) {
    .skillsContainer{
        width: 80%;
    }
  }
  